/*utilities*/
/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
/* Background*/
.bg-primary{
  background-color: #047aed;
}




.container{
  max-width:1100px;
  margin:0 auto;
  overflow:auto;
  padding:0 40px;
}
.flex{
  display:flex;
  justify-content: center;
  height:100%;
  align-items: center;
}

.card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  padding:20px;
  margin:10px;
  color:#333;
}
.btn{
  display:inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #047aed;
  color:#fff;
  border:none;
  border-radius:5px;
}
.btn-outline{
  background-color:transparent;
border:1.5px #fff solid;

}
.btn-dark{
  display:inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: orange;
  font-weight:bold;

  color:#333;
  border:none;
  border-radius:5px;
}

.btn:hover{
transform: scale(0.98);
}
.grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.grid-3{
grid-template-columns: repeat(3, 1fr);

}
.text-center{
  text-align:center;
}
.my-1{
  margin:1rem 0;
}

/* Languages */
.languages .flex{
  flex-wrap:wrap;
}
.languages .card{
  text-align: center;
  margin:18px 10px 40px;
  transition: transform 0.3s ease-in;
}
.languages .card h4{
  margin-bottom:15px;
}
.languages .card:hover{
  transform: translateY(-15px);

}
.bg-dark{
  background-color:#002952;
  color:#fff;
}
footer a {
  color:#fff;
}
